*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    user-select:text;
}


.background{
min-height: 450px;

    color: #fff;
    font-size: 3rem;

    background-image: url('background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
-webkit-background-size: cover;
-o-background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}


.backgroundOverlay{
  width: 100%;
  min-height: 450px;
  background-color: rgba(0, 0, 0, 0.6);
}


.num{
  font-size: 4.5rem;
  font-weight: 800;

  color: rgb(0, 132, 255);

  transition: 700ms;
}


.rowhead{
  font-size: 3rem;
  font-weight: 700;
}


.promisehead{
  color: rgb(0, 132, 255);
}


.head{
  font-size: 1.5rem;
  font-weight: 700 !important;
 
  width: 100px;
 
  transition: 400ms;
}


.head .repair{
position: relative;
bottom: 5px;
}


.colpara{
  font-size: 1.1rem;
}


.head2{
  font-size: 1.5rem;
  font-weight: 700 !important;

  width: 170px !important;
  
  transition: 400ms;
}


#wePromise:hover .head{
color: rgb(0, 132, 255);
}
#wePromise:hover .head2{
  color: rgb(0, 132, 255);
  }  
#wePromise:hover .num{
  color: #fff;
  }











@media screen and (max-width: 425px) {
  #navbar{
    height: 100px;
  }

  #logo{
    margin-left: 10px !important;
  }
}


@media screen and (max-width: 425px) {
  #navbar{
    height: 90px;
  }
}


.text1{
  cursor: pointer;
  color: #000;
  text-decoration: none;
}


#logo{
    color: rgb(0, 132, 255);
    font-weight: 500;
}


#call{
    color: rgb(0, 132, 255);
}

#support{
    border-right: 1px solid #000;
    width: 50%;
}


#fix{
  width: 50%;
}


#navbarSupportedContent{
    margin-left: 30% !important;
    width: 50%;
}


#navi{
width: 100%;
}

.carousel-background{
  filter: brightness(30%);
}


#clock{
  font-size: 3rem;
  color: rgb(0, 132, 255);
}


.card-group{
  margin-top: 80px !important;
}


@media screen  and (max-width: 992px){
  .card-group{
    margin-top: 60px !important;
  }
}
@media screen  and (max-width: 832px){
  .card-group{
    margin-top: 35px !important;
  }

}


#tabCards{
  display: none;
}


@media screen  and (max-width: 799px){

  #tabCards{
    display: block;
  }

  #pcCards{
    display: none;
  }

  .card-group{
    margin-top: 95px !important;
  }

}


@media screen  and (max-width: 749px){
  .card-group{
    margin-top: 75px !important;
  }
}


@media screen  and (max-width: 643px){
  .card-group{
    margin-top: 55px !important;
  }
}

@media screen  and (max-width: 575px){
 .card-group{
   margin-top: 40px !important;
 }


 #carouselExapleSlidesOnly{
   height: 650px!important;

   overflow: visible;
 }


 .oww{
   height: 650px;
 }

}


@media screen  and (max-width: 472px){
  #carouselExapleSlidesOnly{
    height: 700px!important;
  }

  .oww{
    height: 700px;
  }
 }


 @media screen  and (max-width: 404px){
  #carouselExapleSlidesOnly{
    height: 750px!important;
  }

  .oww{
    height: 750px;
  }
 }


 @media screen  and (max-width: 404px){
  #carouselExapleSlidesOnly{
    height: 800px!important;
  }

  .oww{
    height: 800px;
  }
 }


#mobileCards{
  display: none;
}


@media screen  and (max-width: 375px){

  #mobileCards{
margin-top: 50px;

display: block;

}


#tabCards{
display: none;
}

#tarouselExampleSlidesOnly{
  height: 390px !important;
}

.ace{
  height: 390px !important;
}

}


@media screen and (max-width: 345px){

  #tarouselExampleSlidesOnly{
    height: 450px !important;
  }
  
  .ace{
    height: 450px !important;
  }

  #mobileCards{
    margin-top: 50px !important;
  }

}




















/* carousell */
/* Carousel base class */
.carousel {
    margin-bottom: 0rem !important;
   
    height: 550px !important;

    overflow: hidden;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 35rem;
    position: relative;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    height: 34rem;
  }
  
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
  }
  
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }